<div id="et-list-view" class="et-normal-listings">
	<h2 id="listing-results">Listing Results</h2>

	<div id="et-listings" style="height: 374px;">
		<div class="scrollbar" style="height: 374px;"><div class="track" style="height: 374px;"><div class="thumb" style="top: 0px; height: 105.48717948717949px;"><div class="end"></div></div></div></div>
		<div class="viewport" style="height: 374px;">
			<div class="overview" style="top: 0px;">
				<ul>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L1-60x60.jpg" alt="Beautiful Stairs" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>Beautiful Stairs</h3>
							<p>Vacation Spot</p>
													<span class="et-rating"><span style="width: 68px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/spiral-stairs-of-arabia/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L2-60x60.jpg" alt="San Francisco Bay" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>San Francisco Bay</h3>
							<p>Vacation Spot</p>
													<span class="et-rating"><span style="width: 85px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/12/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L8-60x60.jpg" alt="Monument Valley" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>Monument Valley</h3>
							<p>Historical Monument</p>
													<span class="et-rating"><span style="width: 34px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/monument-valley/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L31-60x60.jpg" alt="The Niagara Falls" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>The Niagara Falls</h3>
							<p>Tourist Attraction</p>
													<span class="et-rating"><span style="width: 68px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/the-niagria-falls/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix et-active-listing">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L7-60x60.jpg" alt="The Chrysler Building" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>The Chrysler Building</h3>
							<p>Tourist Attraction</p>
													<span class="et-rating"><span style="width: 51px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/the-chrysler-building/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L6-60x60.jpg" alt="The Inca Trail" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>The Inca Trail</h3>
							<p>Historical Monument</p>
													<span class="et-rating"><span style="width: 85px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/the-inca-trail/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L14-60x60.jpg" alt="The Angel Falls" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>The Angel Falls</h3>
							<p>Tourist Attraction</p>
													<span class="et-rating"><span style="width: 68px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/the-angel-falls/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L10-60x60.jpg" alt="Rio de Janeiro" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>Rio de Janeiro</h3>
							<p>Vacation Spot</p>
													<span class="et-rating"><span style="width: 68px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/rio-de-janeiro/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L9-60x60.jpg" alt="Egyptian Deserts" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>Egyptian Deserts</h3>
							<p>Historical Monument</p>
													<span class="et-rating"><span style="width: 68px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/egyptian-deserts/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L11-60x60.jpg" alt="The Masai Mara" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>The Masai Mara</h3>
							<p>Vacation Spot</p>
													<span class="et-rating"><span style="width: 85px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/rondevlei-nature-reserve/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L12-60x60.png" alt="Virunga Mountains" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>Virunga Mountains</h3>
							<p>Tourist Attraction</p>
													<span class="et-rating"><span style="width: 34px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/virunga-mountains/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L51-60x60.jpg" alt="Chinese Temple" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>Chinese Temple</h3>
							<p>Historical Monument</p>
													<span class="et-rating"><span style="width: 68px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/chinese-temple/" class="et-mobile-link">Read more</a>
					</li>
					<li class="clearfix">
						<div class="listing-image">
							<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L4-60x60.jpg" alt="Steps Of Kyoto" width="60" height="60">						</div> <!-- .listing-image -->
						<div class="listing-text">
							<h3>Steps Of Kyoto</h3>
							<p>Tourist Attraction</p>
													<span class="et-rating"><span style="width: 68px;"></span></span>
												</div> <!-- .listing-text -->
						<a href="http://elegantthemes.com/preview/Explorable/listing/stpes-of-kyoto/" class="et-mobile-link">Read more</a>
					</li>
				</ul>
			</div> <!-- .overview -->
		</div> <!-- .viewport -->
	</div> <!-- #et-listings -->
<a href="#" class="et-date"><span>Toggle</span> List View</a></div>