<div id="googlemap"></div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<script type="text/javascript">	
<!--
  var defaultZoom = 16; // Why zoomed in? Because it looks good.
  
  // create map and add controls
  var mapOptions = {
    center: new google.maps.LatLng(13.731547730050778, 100.56798934936523),
    zoom: defaultZoom,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scrollwheel: false,
    scaleControl: false
  };
  var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);

	// I'm Centering the map in Bangkok
	// '13.731547730050778'
	// '100.56798934936523'
	//var mylat = document.getElementById("location_lat").value;
	//var mylng = document.getElementById("location_lng").value;
	if (jQuery.isEmptyObject(mylat)) {
	  var mylat = '13.731548';
	  var mylng = '100.56799';
	  var defaultZoom = 14;
	};

	// set center point of map to be of the Marker or the Default City
  var centrePoint = new google.maps.LatLng(mylat, mylng);
  map.setCenter(centrePoint);
  map.setZoom(defaultZoom); 

	// add a draggable marker
  marker = new google.maps.Marker({
    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    position: centrePoint
  });

  var defaultImage = new google.maps.MarkerImage(
      "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
      new google.maps.Size(71, 71),
      new google.maps.Point(0, 0),
      new google.maps.Point(17, 34),
      new google.maps.Size(35, 35));
  marker.setIcon(defaultImage);

  google.maps.event.addListener(marker, 'click', toggleBounce);

	// create Info window for marker
  var infowindow = new google.maps.InfoWindow();
	
	// This is the function to animate the marker after dropping it.
	  function toggleBounce() {
	    if (marker.getAnimation() != null) {
	      marker.setAnimation(null);
	    } else {
	      marker.setAnimation(google.maps.Animation.BOUNCE);
	    }
	  };
		
</script>
		