<div id="et-slider-wrapper" class="et-map-post ui-draggable">
	<div id="et-map-slides">

		<div class="et-map-slide et-active-map-slide">
					<div class="et-thumbnail">
				<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L31-480x240.jpg" alt="The Niagara Falls" width="480" height="240">				<div class="et-description">
					<h1><a href="http://elegantthemes.com/preview/Explorable/listing/the-niagria-falls/">The Niagara Falls</a></h1>
									<p>The Grandest Waterfall Of Them All</p>
													<span class="et-rating"><span style="width: 84px;"></span></span>
								</div>
			<div class="et-date-wrapper"><span class="et-date">March 28<span>2013</span></span></div>			</div>
		
					<div class="et-map-postmeta">333 Prospect Street Niagara Falls, NY 14301</div>
		
			<div class="et-place-content">
				<div class="et-place-text-wrapper">
					<div class="et-place-main-text">
						<div class="scrollbar" style="height: 119px;"><div class="track" style="height: 119px;"><div class="thumb" style="top: 0px; height: 10.567910447761195px;"><div class="end"></div></div></div></div>
						<div class="viewport">
							<div class="overview" style="top: 0px;">
							<p>Morbi ut metus non est consectetur accumsan. Ut eget adipiscing nisl. Nulla auctor mattis massa nec pretium. Phasellus tincidunt, sem et porttitor accumsan, quam eros faucibus tortor, cursus hendrerit arcu enim et nulla. Nunc nec nunc a magna aliquet luctus nec ornare mauris. Nam id nibh lorem, vel faucibus lacus. Proin eleifend elementum urna eget bibendum. Donec ultrices cursus nisi, in tincidunt quam ultrices ac. Donec vulputate sagittis consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse tristique sem quis ligula imperdiet eu vestibulum dui porta. Pellentesque tincidunt aliquam neque, eget luctus nisi viverra in. Duis porta sapien ac augue tincidunt luctus. Integer pretium feugiat tortor, ac tincidunt erat commodo posuere.</p>
<p>Phasellus ultrices, sem ut ornare ultricies, tellus turpis bibendum nulla, quis egestas massa magna et augue. Proin vitae turpis at felis sodales malesuada ut nec nibh. Aenean massa lectus, euismod suscipit malesuada at, facilisis eu est. Nam ac arcu vel velit eleifend vehicula vel sit amet mauris. Aenean id iaculis nisl. Nulla sodales tincidunt libero vitae mollis. Pellentesque ac neque nisi, quis semper eros. Etiam eget metus id est consectetur aliquam. Integer pellentesque felis sit amet sem porta in sagittis nisi venenatis. Etiam lacus lacus, pulvinar id mattis et, facilisis non diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent felis magna, imperdiet sed consequat et, pulvinar nec lorem. Nam iaculis sollicitudin mi vitae vulputate. Suspendisse potenti.</p>
							</div>
						</div>
					</div> <!-- .et-place-main-text -->
				</div> <!-- .et-place-text-wrapper -->
				<a class="more" href="http://elegantthemes.com/preview/Explorable/listing/the-niagria-falls/">More Information<span>»</span></a>
			</div> <!-- .et-place-content -->
		</div> <!-- .et-map-slide -->
		<div class="et-map-slide">
					<div class="et-thumbnail">
				<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L7-480x240.jpg" alt="The Chrysler Building" width="480" height="240">				<div class="et-description">
					<h1><a href="http://elegantthemes.com/preview/Explorable/listing/the-chrysler-building/">The Chrysler Building</a></h1>
									<p>A Famous Building In The City</p>
													<span class="et-rating"><span style="width: 63px;"></span></span>
								</div>
			<div class="et-date-wrapper"><span class="et-date">March 27<span>2013</span></span></div>			</div>
		
					<div class="et-map-postmeta">405 Lexington Ave, New York, NY</div>
		
			<div class="et-place-content">
				<div class="et-place-text-wrapper">
					<div class="et-place-main-text">
						<div class="scrollbar" style="height: 0px;"><div class="track" style="height: 0px;"><div class="thumb"><div class="end"></div></div></div></div>
						<div class="viewport">
							<div class="overview" style="top: 0px;">
							<p>Maecenas augue leo, egestas ac hendrerit sit amet, accumsan at quam. Curabitur at libero tortor. Donec non ante vitae turpis faucibus tincidunt. Nunc viverra pharetra aliquet. Aenean ut arcu dolor, bibendum aliquam felis. Quisque venenatis viverra eros. Nulla facilisi. Aliquam neque tellus, adipiscing in tempus eu, tincidunt quis tortor. Vestibulum tincidunt luctus quam, at euismod ligula varius ac. Sed eleifend gravida rutrum. Duis lorem risus, euismod id cursus et, auctor ac urna. Donec ornare, nulla a dignissim scelerisque, lorem mauris pulvinar metus, vitae rhoncus nibh dolor quis sapien. Phasellus rutrum odio quis orci scelerisque vitae ullamcorper neque pulvinar. Curabitur adipiscing tempor urna, sed venenatis risus pellentesque quis.</p>
<p>Sed condimentum vehicula nisl, a volutpat nisl mollis quis. Quisque adipiscing suscipit ligula vitae fermentum. Aliquam eget neque sit amet ipsum malesuada porta. Vivamus gravida turpis vitae risus luctus lacinia. Curabitur sit amet erat arcu, at ullamcorper metus. Vivamus pretium nibh in odio tincidunt interdum. Aenean semper luctus nisl, id hendrerit orci varius vitae. Phasellus a nisl nunc. Fusce vulputate condimentum turpis, a hendrerit dolor dapibus nec. Proin gravida orci at turpis ultrices sed aliquet urna aliquam. Maecenas at felis eget nibh convallis ullamcorper. Aliquam vitae mauris libero, id blandit massa. Curabitur consequat cursus convallis.</p>
							</div>
						</div>
					</div> <!-- .et-place-main-text -->
				</div> <!-- .et-place-text-wrapper -->
				<a class="more" href="http://elegantthemes.com/preview/Explorable/listing/the-chrysler-building/">More Information<span>»</span></a>
			</div> <!-- .et-place-content -->
		</div> <!-- .et-map-slide -->
		<div class="et-map-slide">
					<div class="et-thumbnail">
				<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L14-480x240.jpg" alt="The Angel Falls" width="480" height="240">				<div class="et-description">
					<h1><a href="http://elegantthemes.com/preview/Explorable/listing/the-angel-falls/">The Angel Falls</a></h1>
									<p>The Serine Natural Falls of Angel</p>
													<span class="et-rating"><span style="width: 84px;"></span></span>
								</div>
			<div class="et-date-wrapper"><span class="et-date">March 25<span>2013</span></span></div>			</div>
		
					<div class="et-map-postmeta">Canaima National Park, Sifontes, Venezuela</div>
		
			<div class="et-place-content">
				<div class="et-place-text-wrapper">
					<div class="et-place-main-text">
						<div class="scrollbar" style="height: 0px;"><div class="track" style="height: 0px;"><div class="thumb"><div class="end"></div></div></div></div>
						<div class="viewport">
							<div class="overview" style="top: 0px;">
							<p>Aenean luctus tortor ut enim interdum id imperdiet nunc suscipit. Sed sodales, massa at pharetra euismod, felis metus ullamcorper nisl, eget lacinia turpis justo eget sem. Maecenas varius pretium metus, eget fermentum lectus hendrerit in. Mauris eget elit eget dolor ultricies cursus a et ligula. Nam ultricies, ipsum sed pretium laoreet, turpis dolor pulvinar arcu, vel tincidunt purus erat et eros. Sed sem justo, pretium ut euismod sit amet, consequat ut nibh. Praesent et est non urna commodo placerat. Vivamus quis lacus odio, eu blandit libero.</p>
							</div>
						</div>
					</div> <!-- .et-place-main-text -->
				</div> <!-- .et-place-text-wrapper -->
				<a class="more" href="http://elegantthemes.com/preview/Explorable/listing/the-angel-falls/">More Information<span>»</span></a>
			</div> <!-- .et-place-content -->
		</div> <!-- .et-map-slide -->
		<div class="et-map-slide">
					<div class="et-thumbnail">
				<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L12-480x240.png" alt="Virunga Mountains" width="480" height="240">				<div class="et-description">
					<h1><a href="http://elegantthemes.com/preview/Explorable/listing/virunga-mountains/">Virunga Mountains</a></h1>
									<p>Experience The Ugandan Wildlife</p>
													<span class="et-rating"><span style="width: 42px;"></span></span>
								</div>
			<div class="et-date-wrapper"><span class="et-date">March 21<span>2013</span></span></div>			</div>
		
					<div class="et-map-postmeta">Virunga Mountains, Uganda, Rwanda, DRC</div>
		
			<div class="et-place-content">
				<div class="et-place-text-wrapper">
					<div class="et-place-main-text">
						<div class="scrollbar" style="height: 0px;"><div class="track" style="height: 0px;"><div class="thumb"><div class="end"></div></div></div></div>
						<div class="viewport">
							<div class="overview" style="top: 0px;">
							<p>Fusce malesuada eros sed odio tincidunt sed imperdiet risus consectetur. Nulla facilisi. Etiam et augue quam. Donec tempus viverra sem vel porta. Phasellus magna orci, volutpat et mattis quis, molestie vitae purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in est risus. Nullam euismod felis vitae augue fermentum ut congue massa condimentum. Quisque porta, nibh vel adipiscing lacinia, elit ligula egestas purus, vehicula rutrum magna felis ac dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis vitae justo nec massa consequat aliquet. Pellentesque porttitor augue sed neque consectetur vel hendrerit neque vestibulum. Vestibulum eu diam at augue pellentesque aliquam sed at arcu. Morbi ut felis ultrices nisl blandit posuere. Morbi ut sagittis sapien.</p>
							</div>
						</div>
					</div> <!-- .et-place-main-text -->
				</div> <!-- .et-place-text-wrapper -->
				<a class="more" href="http://elegantthemes.com/preview/Explorable/listing/virunga-mountains/">More Information<span>»</span></a>
			</div> <!-- .et-place-content -->
		</div> <!-- .et-map-slide -->
		<div class="et-map-slide">
					<div class="et-thumbnail">
				<img src="http://elegantthemes.com/preview/Explorable/wp-content/uploads/2013/03/L4-480x240.jpg" alt="Steps Of Kyoto" width="480" height="240">				<div class="et-description">
					<h1><a href="http://elegantthemes.com/preview/Explorable/listing/stpes-of-kyoto/">Steps Of Kyoto</a></h1>
									<p>The Most Beautiful Walk Ever</p>
													<span class="et-rating"><span style="width: 84px;"></span></span>
								</div>
			<div class="et-date-wrapper"><span class="et-date">March 19<span>2013</span></span></div>			</div>
		
					<div class="et-map-postmeta">Some Street, Kyoto, Japan</div>
		
			<div class="et-place-content">
				<div class="et-place-text-wrapper">
					<div class="et-place-main-text">
						<div class="scrollbar" style="height: 0px;"><div class="track" style="height: 0px;"><div class="thumb"><div class="end"></div></div></div></div>
						<div class="viewport">
							<div class="overview" style="top: 0px;">
							<p>Etiam viverra orci eget lacus scelerisque non sagittis orci faucibus. Nulla pellentesque diam ut ante feugiat sodales. Donec condimentum pretium erat, interdum convallis nisi luctus eu. Proin nibh odio, vulputate sed scelerisque eget, malesuada id sapien. Mauris et mi nec eros eleifend aliquam. Fusce justo mauris, fermentum sit amet vulputate et, eleifend in mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam facilisis malesuada sollicitudin. Morbi nisi felis, venenatis eget fermentum non, gravida non metus. Praesent mauris velit, pretium sed rutrum non, adipiscing eget sem. Aliquam egestas pulvinar posuere. Nullam mattis turpis dignissim erat ornare posuere.</p>
							</div>
						</div>
					</div> <!-- .et-place-main-text -->
				</div> <!-- .et-place-text-wrapper -->
				<a class="more" href="http://elegantthemes.com/preview/Explorable/listing/stpes-of-kyoto/">More Information<span>»</span></a>
			</div> <!-- .et-place-content -->
		</div> <!-- .et-map-slide -->
		
	</div> <!-- #et-map-slides -->
<div class="et-slider-arrows"><a class="et-arrow-prev" href="#">Previous</a><a class="et-arrow-next" href="#">Next</a></div></div>